<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <appSettings>
    <add key="MailServer" value="https://api.mailgun.net/v3" />
    <add key="MailApiKey" value="key-945f9f3a166c213050b5725fa254ebc6"/>
    <!-- <add key="MailDomain" value="sandbox54e3e9894abd4f8a913889e4e03f6cda.mailgun.org" /> -->
    <add key="MailDomain" value="wisor.co.il" />
    <add key="MailFrom" value="Wisor@Wisor.co.il" />
    <add key="MailTo" value="shuky.barbash@gmail.com" />


    <add key="MailUN" value="ec051fd35662db" />
    <add key="MailPass" value="61ae6f75fc98dd" />
    <add key="MailTo" value="shuky.barbash@gmail.com" />

    <!-- Define the PDF library to use  -->
    <add key="ShouldUseTheDirectPDFlib" value="Yes" />

  </appSettings>

  
</configuration>